language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wc++98-compat -Wno-missing-prototypes main.cpp Character.cpp Dwarf.cpp DefensiveItem.cpp AttackItem.cpp Paladin.cpp Dragon.cpp DragonSlayer.cpp Utility.cpp && ./a.out"
